body {
    font-family: 'Times New Roman', Times, serif;
}


#product-overview {
    background: #be2a4f;
}

.section-title {
    color: rgb(46, 197, 53);
    font-family: inherit;
}

/* Combining things*/
#product-overview h1 {
    color: azure;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-family: serif;
}


/*
Inline - highest priority
Id - high priority
Class - low priority
* - lowest priority
*/