* {
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}

/*Adding an Image to the Content area, one can also use an image via url*/
#product-overview {
    background: url("freedom.jpg");
    width: 100%;
    /*OR
    width: 300px;
    */
    height: 528px;
    padding: 10px;

}

.section-title {
    color: rgb(46, 197, 53);
    font-family: inherit;
}

/* Combining things*/
#product-overview h1 {
    color: azure;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*
h1 {
    font-family: serif;
}
*/

.main-header {
    width: 100%;
    background: #2ddf5c;
    padding: 8px 16px;

}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand {
    color: #0e4f1f;
    text-decoration: none;  /* It is to Remove Underlining in the text-links
                                Which is present by defualt*/
    font-weight: bold;
    font-size: 22px;
}

.main-nav { 
    display: inline-block;
    text-align: right;
    width: calc(100% - 72px);
    /* Calc is a css function used to calculate simple mathematics*/
    vertical-align: middle;
}

.main-nav__item {
    margin: 0;
    padding: 0;
    list-style: none;   /* this is to ensure that there are no bullets in list
                            So that there will be no extra spacing for the bullets*/
    
}

.main-nav__item {
    display: inline-block;
    margin: 0 16px;
    text-decoration: none;
    
}


.main-nav__item a {
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;      /*Added Weight and padding to the links and border-botton in active state*/
    padding: 3px 0;
    
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: white;
    border-bottom: 5px solid white;
}

/* Maing the last anchor link to stand out from the rest*/
.main-nav__item--cta a {
    color: white;
    background: #ff1b68;
    padding: 8px 16px;
    border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
    color: #ff1b68;
    background: white;
    background: none;
}